server:
  port: 8090

spring:
  application:
    name: jobda-mcp-client

  ai:
    openai:
      api-key: ${OPENAI_API_KEY_AI}
      chat:
        model: gpt-4o-mini

    mcp:
      client:
        enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always